#!/usr/bin/make -f

PACKAGE := guideos-data-vault

%:
	dh $@

override_dh_install:
	# Erstellen der notwendigen Verzeichnisse und Kopieren der Dateien
	install -d debian/$(PACKAGE)/usr/bin/
	install -d debian/$(PACKAGE)/usr/share/icons/hicolor/256x256
	install -d debian/$(PACKAGE)/usr/share/icons/hicolor/scalable/apps
	install -d debian/$(PACKAGE)/usr/share/doc/$(PACKAGE)
	install -m 644 LICENSE debian/$(PACKAGE)/usr/share/doc/$(PACKAGE)/LICENSE
	install -m 755 guideos-data-vault debian/$(PACKAGE)/usr/bin/
	install -m 644 icons/guideos-data-vault.png debian/$(PACKAGE)/usr/share/icons/hicolor/256x256/guideos-data-vault.png
	install -m 644 icons/guideos-data-vault.svg debian/$(PACKAGE)/usr/share/icons/hicolor/scalable/apps/guideos-data-vault.svg


	dh_install